.logo{
    margin-bottom: 50px;
    margin-top: 50px;
}

.input{
    margin-top: 10%;
    margin-bottom: 50px;
}


.rap-button{

    margin: 25px;
    margin-bottom: 15%;

}

.bg-purple{
    background-color: #2D2D85;
    color: #ffffff;
}